{{- /* Custom override based on Doks default, with clickable parent links. */}}

{{- /* Configure. */}}
{{- $skipHome := true }}

{{- /* Get parameters. */}}
{{- $currentPage := .currentPage }}
{{- $nodes := .nodes }}

{{- /* Render. */}}
<nav class="section-nav docs-links">
  <ul class="list-unstyled">
    {{- range $nodes }}
      {{- if and .Page.IsHome $skipHome }}
        {{- continue }}
      {{- end }}
      {{- template "walk" (dict "node" . "currentPage" $currentPage) }}
    {{- end }}
  </ul>
</nav>

{{- /* Recursively render list items. */}}
{{- define "walk" }}
  {{- $currentPage := .currentPage }}
  {{- $node := .node }}

  {{- $linkContent := $node.Page.LinkTitle }}
  {{- with $node.Name }}
    {{- $linkContent = . }}
  {{- end }}

  {{- $ariaCurrent := "" }}
  {{- $liClass := "" }}

  {{- if in $currentPage.Ancestors $node.Page }}
    {{- $ariaCurrent = "true" }}
  {{- end }}

  {{- if $currentPage.Eq $node.Page }}
    {{- $ariaCurrent = "page" }}
    {{- $liClass = "active" }}
  {{- end }}

  <li {{- with $liClass }} class="{{ . }}" {{ end -}}>
    {{- with $node.Page.Pages }}
    <details{{- with $ariaCurrent }} open{{- else}}{{- if ne $node.Page.Params.sidebar.collapsed true }} open{{- end }}{{- end}}>
      <summary>
        <a {{- with $ariaCurrent }} aria-current="{{ . }}"{{- end }} href="{{- $node.Page.RelPermalink }}">{{ $linkContent }}</a>
      </summary>
      <ul class="list-unstyled list-nested">
        {{- range . }}
          {{- template "walk" (dict "node" . "currentPage" $currentPage) }}
        {{- end }}
      </ul>
    </details>
    {{- else }}
      <a {{- with $ariaCurrent }} aria-current="{{ . }}" {{- end }} href="{{- $node.Page.RelPermalink }}">{{ $linkContent }}</a>
    {{- end }}
  </li>
{{- end }}
