{{ $name := .Get "name" }}
{{ $set := .Get "set" | default "" }}

{{ $encodedName := $name | urlquery }}
{{ $encodedSet := $set | urlquery }}

{{ if $set }}
  <img src="https://api.scryfall.com/cards/named?exact={{ $encodedName }}&set={{ $encodedSet }}&format=image&version=normal" alt="{{ $name }}" class="card-image" loading="lazy" />
{{ else }}
  <img src="https://api.scryfall.com/cards/named?exact={{ $encodedName }}&format=image&version=normal" alt="{{ $name }}" class="card-image" loading="lazy" />
{{ end }}

<span class="card-name">{{ $name }}</span>
